<div class="p-5">
    <h4 class="mb-0">{{ inventoryForm.value.inventory_id ? 'Edit Inventory' : 'Add Inventory' }}</h4>
    <form [formGroup]="inventoryForm" (ngSubmit)="inventoryForm.value.inventory_id ? editInventory() : addInventory()">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="input-block mb-3">
                        <label>Item Name</label>
                        <input type="text" class="form-control" placeholder="Enter Item Name"
                            formControlName="item_name">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="input-block mb-3">
                        <label>Item Code</label>
                        <input type="text" class="form-control" placeholder="Enter Item Code"
                            formControlName="item_code">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="input-block mb-3">
                        <label>Units</label>
                        <input type="text" class="form-control" placeholder="Enter Units" formControlName="units">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="input-block mb-3">
                        <label>Quantity</label>
                        <input type="text" class="form-control" placeholder="Enter Quantity" formControlName="quantity">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="input-block mb-3">
                        <label>Selling Price</label>
                        <input type="text" class="form-control" placeholder="Enter Selling Price"
                            formControlName="selling_price">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="input-block mb-3">
                        <label>Purchase Price</label>
                        <input type="text" class="form-control" placeholder="Enter Purchase Price"
                            formControlName="purchase_price">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="input-block mb-3">
                        <label for="statusSelect">Status</label>
                        <select id="statusSelect" formControlName="status" class="form-control">
                            <option value="" disabled selected>Select Status</option>
                            <option value="instock">In stock</option>
                            <option value="outstock">Out Stock</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-back cancel-btn me-2" (click)="onClose()">Cancel</button>
            <button type="submit" class="btn btn-primary paid-continue-btn" [disabled]="!inventoryForm.valid">
                {{ inventoryForm.value.inventory_id ? 'Update' : 'Add' }}
            </button>
        </div>
    </form>
</div>