<div class="content container-fluid">
    <div class="card mb-0">
        <div class="card-body">
            <div class="content-page-header">
                <h5>{{ isAddMode ? 'Add' : 'Edit' }} Purchases</h5>
            </div>
            <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group-item border-0 mb-0">
                            <div class="row align-item-center">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-block mb-3">
                                        <label for="vendorSelect">Select Vendor</label>
                                        <div class="d-flex align-items-center">
                                            <select formControlName="vendor_id" class="form-control me-2">
                                                <option value="" disabled selected>Choose Vendor</option>
                                                <option *ngFor="let vendor of vendorList" [value]="vendor.vendor_id">
                                                    {{ vendor.vendor_name }}
                                                </option>
                                            </select>
                                            <a class="btn btn-primary form-plus-btn"
                                                routerLink="/admin/customers/vendors-list"><i
                                                    class="fas fa-plus-circle"></i></a>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-block mb-3">
                                        <label>Purchases Date</label>
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput [matDatepicker]="picker" formControlName="purchase_date"
                                                readonly placeholder="Select Date">
                                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-block mb-3">
                                        <label>Due Date</label>
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput [matDatepicker]="picker2" formControlName="due_date"
                                                readonly placeholder="Select Date">
                                            <mat-datepicker-toggle matIconSuffix
                                                [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div> -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-block mb-3">
                                        <label for="statusSelect">Status</label>
                                        <select id="statusSelect" formControlName="status" class="form-control">
                                            <option value="" disabled selected>Select Status</option>
                                            <option value="unpaid">Unpaid</option>
                                            <option value="partially_paid">Partially Paid</option>
                                            <option value="paid">Paid</option>
                                            <option value="overdue">Overdue</option>
                                            <option value="cancelled">Cancelled</option>
                                            <option value="refunded">Refunded</option>
                                            <option value="draft">Draft</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-block mb-3">
                                        <label>Reference Number</label>
                                        <input type="text" formControlName="reference_no" class="form-control"
                                            placeholder="Enter Reference Number">
                                    </div>
                                </div> -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-block mb-3">
                                        <label>Supplier Invoice Serial No</label>
                                        <input type="text" formControlName="supplier_invoice_serial_no"
                                            class="form-control" placeholder="Enter Supplier Invoice Serial No">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-block mb-3">
                                        <label>Payment Method</label>
                                        <select formControlName="payment_mode" class="form-control">
                                            <option value="" disabled selected>Select Payment Method</option>
                                            <option value="credit_card">Credit Card</option>
                                            <option value="debit_card">Debit Card</option>
                                            <option value="paypal">UPI</option>
                                            <option value="bank_transfer">Bank Transfer</option>
                                            <option value="cash">Cash</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-item mt-3">
                            <div class="card-table">
                                <button type="button" class="btn btn-primary mb-2" (click)="addRow()">Add Row</button>
                                <div class="card-body">
                                    <div class="table-responsive no-pagination">
                                        <table class="table table-center table-hover datatable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Product</th>
                                                    <th>Quantity</th>
                                                    <th>Unit</th>
                                                    <th>Rate</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="invoice_details">
                                                <tr *ngFor="let product of productFormArray.controls; let i = index"
                                                    [formGroupName]="i">
                                                    <td>
                                                        <mat-form-field appearance="outline" class="w-100">
                                                            <mat-select formControlName="category_id"
                                                                (selectionChange)="onCategoryChange($event)">
                                                                <mat-option value="" disabled>Select
                                                                    category</mat-option>
                                                                <mat-option *ngFor="let category of categoryList"
                                                                    [value]="category.category_id">
                                                                    {{ category.category_name }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field appearance="outline" class="w-100">
                                                            <mat-select formControlName="product_id">
                                                                <mat-option value="" disabled>Select
                                                                    Product</mat-option>
                                                                <mat-option *ngFor="let product of productList"
                                                                    [value]="product.product_id">
                                                                    {{ product.product_name }} - (AVL: {{
                                                                    product.quantity }})
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <input type="number" formControlName="quantity"
                                                            class="form-control" (input)="updateAmount(i)">
                                                    </td>
                                                    <td>
                                                        <select formControlName="unit" class="form-control">
                                                            <option value="piece">Piece</option>
                                                            <option value="box">Box</option>
                                                            <option value="cartoon">Cartoon</option>
                                                            <option value="meter">Meter</option>
                                                            <option value="liter">Liter</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="number" formControlName="rate" class="form-control"
                                                            (input)="updateAmount(i)">
                                                    </td>
                                                    <td>
                                                        <input type="number" formControlName="total_amount"
                                                            class="form-control" readonly>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-item border-0 p-0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <div class="form-group-bank">
                                        <div class="input-block mb-3 notes-form-group-info">
                                            <label>Notes</label>
                                            <textarea formControlName="notes" class="form-control"
                                                placeholder="Enter Notes"></textarea>
                                        </div>
                                        <div class="input-block mb-3 notes-form-group-info mb-0">
                                            <label>Terms and Conditions</label>
                                            <textarea class="form-control" formControlName="terms_conditions"
                                                placeholder="Enter Terms and Conditions"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-12">
                                    <div class="form-group-bank">
                                        <div class="invoice-total-box">

                                            <div class="invoice-total-footer">
                                                <h4>Total Amount <span>₹{{purchaseForm.value?.total_amount}}</span></h4>
                                            </div>
                                        </div>
                                        <div class="input-block mb-3">
                                            <label>Signature Name</label>
                                            <select class="form-control" id="signature" formControlName="signature_id"
                                                (change)="onSignatureSelect($event)">
                                                <option *ngFor="let signature of signatureList"
                                                    [value]="signature.signature_id">
                                                    {{ signature.signature_name }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="input-block mb-0" *ngIf="signature_photo">
                                            <label>Signature Image</label>
                                            <div class="input-block mb-3 service-upload service-upload-info mb-0">
                                                <img src="{{signature_photo}}" width="250" height="150">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="reset" class="btn btn-primary cancel me-2">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save & Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>