<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="content-page-header">
            <h5>Delivery Challans</h5>
            <div class="list-btn">
                <ul class="filter-list">
                    <li>
                        <a class="btn btn-import p-2" title="Export to Excel"
                            (click)="excelDownload('Delivery-Challans')">
                            <i class="fas fa-print" style="margin-right: 8px;"></i> Export To Excel
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary" routerLink="/admin/quotations/delivery-challans-add"><i
                                class="fa fa-plus-circle me-2" aria-hidden="true"></i>New Delivery Challans</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Table -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="input-block mb-3">
                            <label>Search</label>
                            <input type="text" (keyup)="applyFilter($event)" placeholder="Search ..."
                                class="form-control">
                        </div>

                        <table mat-table [dataSource]="dataSource" class="table table-center table-hover datatable">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> Challan Id</th>
                                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                            </ng-container>
                            <ng-container matColumnDef="delivery_number">
                                <th mat-header-cell *matHeaderCellDef> Challan Number </th>
                                <td mat-cell *matCellDef="let element"> {{ element.delivery_number }} </td>
                            </ng-container>

                            <ng-container matColumnDef="customer_id">
                                <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                                <td mat-cell *matCellDef="let element">
                                    <span>{{ element.customer_name }}</span><br>
                                    <span>{{element.customer_phone}}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total_amount">
                                <th mat-header-cell *matHeaderCellDef> Total Amount </th>
                                <td mat-cell *matCellDef="let element"> {{ element.total_amount }} </td>
                            </ng-container>

                            <ng-container matColumnDef="due_date">
                                <th mat-header-cell *matHeaderCellDef> Due Date </th>
                                <td mat-cell *matCellDef="let element"> {{ element.due_date | date: 'dd/MM/yyyy' }} </td>
                            </ng-container>
                            <!-- Status -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>Status</th>
                                <td mat-cell *matCellDef="let invoice"><span class="badge" [ngClass]="{
                                    'bg-success-light': invoice.status === 'paid',
                                    'bg-warning-light': invoice.status === 'pending' || invoice.status === 'partially_paid' || invoice.status === 'unpaid' || invoice.status === 'draft',
                                    'bg-danger-light': invoice.status === 'overdue',
                                    'bg-secondary-light': invoice.status === 'cancelled',
                                    'bg-info-light': invoice.status === 'refunded'
                                }">{{ invoice.status }}</span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef> Created Date </th>
                                <td mat-cell *matCellDef="let element"> {{ element.created_at | date: 'dd/MM/yyyy' }} </td>
                            </ng-container>


                            <!-- Actions -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                <td mat-cell *matCellDef="let invoice" class="d-flex">
                                    <a class="btn-action-icon me-2" (click)="editInvoice(invoice)">
                                        <i class="far fa-edit me-2"></i>
                                    </a>
                                    <a class="btn-action-icon" (click)="openDeleteConfirmation(invoice.id)">
                                        <i class=" far fa-trash-alt me-2"></i>
                                    </a>
                                    <a class="btn-action-icon" (click)="getChallanDetailsForPDF(invoice.id)"><i
                                            class="fas fa-download me-2"></i></a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [length]="quotationsList.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"
                            showFirstLastButtons></mat-paginator>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /Table -->
</div>