<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="content-page-header">
            <h5>Category</h5>
            <div class="list-btn">
                <ul class="filter-list">
                    <li>
                        <a class="btn btn-import p-2" title="Export to Excel" (click)="excelDownload('category')">
                            <i class="fas fa-print" style="margin-right: 8px;"></i> Export To Excel
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-import" href="javascript:void(0);" (click)="fileInput.click()"><span><i
                                    class="fas fa-check-square me-2"></i>Import Category</span></a>
                        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)"
                            accept=".xlsx, .xls" />
                    </li>
                    <li>
                        <a class="btn btn-primary" (click)="openAddCategory()">
                            <i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Category
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-center table-hover datatable">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Category Name</th>
                                    <th>Description</th>
                                    <th>Created</th>
                                    <th class="no-sort">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let category of categoryList; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ category.category_name }}</td>
                                    <td>{{ category.description }}</td>
                                    <td>{{ category.created_at | date: 'dd MMM yyyy, hh:mm a' }}</td>
                                    <td class="d-flex">
                                        <a class="btn-action-icon me-2" (click)="openEditCategory(category)">
                                            <i class="far fa-edit me-2"></i>
                                        </a>
                                        <a class="btn-action-icon" (click)="openDeleteCategory(category.category_id)">
                                            <i class="far fa-trash-alt me-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add/Edit Category Modal -->
<div class="modal custom-modal fade" id="add_category" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">

    </div>
</div>