<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="content-page-header">
            <h5>Category</h5>
            <div class="list-btn">
                <ul class="filter-list">
                    <li>
                        <a class="btn btn-import p-2" title="Export to Excel" (click)="excelDownload('category')">
                            <i class="fas fa-print" style="margin-right: 8px;"></i> Export To Excel
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-import" href="javascript:void(0);" (click)="fileInput.click()"><span><i
                                    class="fas fa-check-square me-2"></i>Import Category</span></a>
                        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)"
                            accept=".xlsx, .xls" />
                    </li>
                    <li>
                        <a class="btn btn-primary" (click)="openAddCategory()">
                            <i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Category
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="input-block mb-3">
                            <label>Search <span class="text-danger">*</span></label>
                            <input type="text" (keyup)="applyFilter($event)" placeholder="Search by category, etc."
                                class="form-control">
                        </div>
                        <table mat-table [dataSource]="dataSource" class="table table-center table-hover datatable">
                            <!-- Column Definitions -->
                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef>Category Id </th>
                                <td mat-cell *matCellDef="let category; let i = index">{{ category?.category_id }}</td>
                            </ng-container>

                            <ng-container matColumnDef="category_name">
                                <th mat-header-cell *matHeaderCellDef>Category Name</th>
                                <td mat-cell *matCellDef="let category">{{ category.category_name }}</td>
                            </ng-container>

                            <ng-container matColumnDef="category_photo">
                                <th mat-header-cell *matHeaderCellDef>Category Image</th>
                                <td mat-cell *matCellDef="let category">
                                    <div style="display: flex; align-items: center;">
                                        <img mat-icon class="avatar-img rounded-circle"
                                            [src]="imgURL+category.category_photo || 'assets/img/category/category-07.jpg'"
                                            alt="User Image" (error)="onImageError($event)"
                                            style="width: 50px; height: 50px; margin-right: 15px;">
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef>Description</th>
                                <td mat-cell *matCellDef="let category">{{ category.description }}</td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef>Created</th>
                                <td mat-cell *matCellDef="let category">
                                    {{ category.created_at | date: 'dd MMM yyyy, hh:mm a' }}</td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Action</th>
                                <td mat-cell *matCellDef="let category" class="d-flex">
                                    <a class="btn-action-icon me-2" (click)="openEditCategory(category)">
                                        <i class="far fa-edit me-2"></i>
                                    </a>
                                    <a class="btn-action-icon" (click)="openDeleteCategory(category.category_id)">
                                        <i class="far fa-trash-alt me-2"></i>
                                    </a>
                                </td>
                            </ng-container>

                            <!-- Table Header and Footer -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <!-- MatPaginator for Pagination -->
                        <mat-paginator [length]="categoryList.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add/Edit Category Modal -->
<div class="modal custom-modal fade" id="add_category" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">

    </div>
</div>