<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="content-page-header ">
            <h5>Products</h5>
            <div class="list-btn">
                <ul class="filter-list">
                    <li>
                        <a class="btn btn-import p-2" title="Export to Excel" (click)="excelDownload('product')">
                            <i class="fas fa-print" style="margin-right: 8px;"></i> Export To Excel
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-import" href="javascript:void(0);" (click)="fileInput.click()"><span><i
                                    class="fas fa-check-square me-2"></i>Import Product</span></a>
                        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)"
                            accept=".xlsx, .xls" />
                    </li>
                    <li>
                        <a class="btn btn-primary" routerLink="/admin/productsServices/product-add">
                            <i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Product</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Table -->
    <div class="row">
        <div class="col-sm-12">
            <div class=" card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="companies-table">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Item</th>
                                        <th>Code</th>
                                        <th>Category</th>
                                        <th>Units</th>
                                        <th>Quantity</th>
                                        <th>Selling Price</th>
                                        <th>Purchase Price</th>
                                        <th class="no-sort">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of productList; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-md me-2 companies">
                                                    <img *ngIf="product.product_image; else defaultImage"
                                                        class="avatar-img sales-rep" [src]="product.product_image"
                                                        alt="Product Image" />
                                                    <ng-template #defaultImage>
                                                        <img class="avatar-img sales-rep"
                                                            src="assets/img/sales-return1.svg" alt="Default Image" />
                                                    </ng-template>
                                                </a>
                                                <a href="profile.html">{{ product.product_name }}</a>
                                            </h2>
                                        </td>
                                        <td>{{ product.product_code }}</td>
                                        <td>{{ product.category_name }}</td>
                                        <td>{{ product.units }}</td>
                                        <td>{{ product.quantity }}</td>
                                        <td>₹{{ product.selling_price }}</td>
                                        <td>₹{{ product.purchase_price }}</td>
                                        <td class="d-flex">
                                            <a class="btn-action-icon me-2" (click)="editProduct(product)">
                                                <i class="far fa-edit me-2"></i>
                                            </a>
                                            <a class="btn-action-icon" (click)="onDelete(product.product_id)">
                                                <i class="far fa-trash-alt me-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Table -->
</div>