<div class="content container-fluid">
    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-body p-2">
                    <div class="dash-widget-header m-0">
                        <span class="dash-widget-icon bg-1">
                            <i class="fas fa-rupee-sign"></i> </span>
                        <div class="dash-count">
                            <div class="dash-title">Amount Due</div>
                            <div class="dash-counts">
                                <p>0.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-body p-2">
                    <div class="dash-widget-header m-0">
                        <span class="dash-widget-icon bg-2">
                            <i class="fas fa-users"></i>
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Customers</div>
                            <div class="dash-counts">
                                <p>{{totalCustomers}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-body p-2">
                    <div class="dash-widget-header m-0">
                        <span class="dash-widget-icon bg-3">
                            <i class="fas fa-file-alt"></i>
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Invoices</div>
                            <div class="dash-counts">
                                <p>{{totalInvoice}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-body p-2">
                    <div class="dash-widget-header m-0">
                        <span class="dash-widget-icon bg-4">
                            <i class="far fa-file"></i>
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Estimates</div>
                            <div class="dash-counts">
                                <p>0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Product Category Distribution Chart -->
        <div class="col-xl-6">
            <div class="card">
                <!-- Title for the Pie Chart -->
                <div class="chart-title" style="text-align: center; font-weight: bold;">
                    <h5 class="m-0">Product Category Distribution</h5>
                </div>

                <div style="display: block; width: 100%; max-width: 700px;">
                    <ngx-charts-pie-chart [view]="[650, 400]" [scheme]="productColorScheme" [results]="productChartData"
                        [legend]="true" [doughnut]="false" [labels]="true" [animations]="true">
                    </ngx-charts-pie-chart>
                </div>
            </div>
        </div>

        <!-- Invoice Analytics Chart -->
        <div class="col-xl-6">
            <div class="card">
                <!-- Title for the Pie Chart -->
                <div class="chart-title" style="text-align: center; font-weight: bold;">
                    <h5 class="m-0">Invoice Analytics</h5>
                </div>

                <div style="display: block; width: 100%; max-width: 700px;">
                    <ngx-charts-bar-horizontal [view]="[650, 400]" [scheme]="invoiceColorScheme"
                        [results]="invoiceStatusData" [legend]="true" [xAxis]="true" [yAxis]="true"
                        [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Invoice Status"
                        yAxisLabel="Invoice Count" [animations]="true">
                    </ngx-charts-bar-horizontal>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="card mb-0">
                <div class="card-header">
                    <div class="row align-center">
                        <div class="col">
                            <h5 class="card-title">Recent Invoices</h5>
                        </div>
                        <div class="col-auto">
                            <a routerLink="/admin/sales/invoices" class="btn-right btn btn-sm btn-outline-primary">
                                View All
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table mat-table [dataSource]="dataSource" class="table table-stripped table-hover">

                            <!-- Invoice ID -->
                            <ng-container matColumnDef="invoice_number">
                                <th mat-header-cell *matHeaderCellDef>Invoice ID</th>
                                <td mat-cell *matCellDef="let invoice">#{{ invoice.invoice_number }}</td>
                            </ng-container>

                            <!-- Category -->
                            <ng-container matColumnDef="category_name">
                                <th mat-header-cell *matHeaderCellDef>Category</th>
                                <td mat-cell *matCellDef="let invoice">{{ invoice.category_name || 'N/A' }}</td>
                            </ng-container>

                            <!-- Customer Name -->
                            <ng-container matColumnDef="customer_name">
                                <th mat-header-cell *matHeaderCellDef>Invoice To</th>
                                <td mat-cell *matCellDef="let invoice">
                                    <span>{{ invoice?.customer_name }}</span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="card mb-0">
                <div class="card-header">
                    <div class="row align-center">
                        <div class="col">
                            <h5 class="card-title">Recent Estimates</h5>
                        </div>
                        <div class="col-auto">
                            <a href="invoice-details.html" class="btn-right btn btn-sm btn-outline-primary">
                                View All
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <div class="progress progress-md rounded-pill mb-3">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 39%"
                                aria-valuenow="39" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35"
                                aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 26%"
                                aria-valuenow="26" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <i class="fas fa-circle text-success me-1"></i> Sent
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-circle text-warning me-1"></i> Draft
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-circle text-danger me-1"></i> Expired
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Customer</th>
                                    <th>Expiry Date</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>