<div class="p-5">
    <h4 class="mb-0">{{ categoryForm.value.category_id ? 'Edit Category' : 'Add Category' }}</h4>
    <form [formGroup]="categoryForm" (ngSubmit)="categoryForm.value.category_id ? editCategory() : addCategory()">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-block mb-3">
                        <label>Name <span class="text-danger">*</span></label>
                        <input formControlName="category_name" type="text" class="form-control"
                            placeholder="Enter Category Name">
                        <div *ngIf="categoryForm.get('category_name')?.invalid && categoryForm.get('category_name')?.touched"
                            class="text-danger">
                            Name is required.
                        </div>
                    </div>
                    <div class="input-block mb-3">
                        <label>Description</label>
                        <input formControlName="description" type="text" class="form-control"
                            placeholder="Enter Description">
                    </div>
                    <div class="service-upload">
                        <div class="upload-profile">
                            <div class="profile-img">
                                <img [src]="imageUrl || 'assets/img/icons/drop-icon.svg'" id="blah" class="avatar"
                                    alt="profile-img">
                            </div>
                            <div class="add-profile">
                                <h5>Upload a New Photo</h5>
                                <span>{{ fileName || 'No file selected' }}</span>
                            </div>
                        </div>
                        <div class="img-upload">
                            <label class="btn btn-upload">
                                Upload <input type="file" (change)="onFileSelected($event)" accept="image/*">
                            </label>
                            <a class="btn btn-remove" (click)="removeImage()">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="onClose()" class="btn btn-back cancel-btn me-2">Cancel</button>
            <button type="submit" class="btn btn-primary">
                {{ categoryForm.value.category_id ? 'Update Category' : 'Add Category' }}</button>
        </div>
    </form>
</div>