<div class="p-5">
    <div class="form-header">
        <h3>Delete Debit</h3>
        <p>Are you sure want to delete?</p>
    </div>
    <div class="modal-btn delete-action">
        <div class="row">
            <div class="col-6">
                <button type="button" class="w-100 btn btn-primary paid-continue-btn"
                    (click)="onClose()">Cancel</button>
            </div>
            <div class="col-6">
                <button type="submit" class="w-100 btn btn-primary paid-cancel-btn"
                    (click)="deleteDebit()">Delete</button>
            </div>
        </div>
    </div>
</div>