<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="content container-fluid">
        <div class="card mb-0">
            <div class="card-body">
                <div class="page-header">
                    <div class="content-page-header">
                        <h5>Add Products</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group-item">
                            <h5 class="form-title">Basic Details</h5>
                            <div class="row">
                                <!-- Item Type -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Item Type<span class="text-danger"> *</span></label>
                                    <div class="align-center">
                                        <div class="form-control me-3">
                                            <label class="custom_radio me-3 mb-0">
                                                <input type="radio" formControlName="item_type" value="Product" checked>
                                                <span class="checkmark"></span> Product
                                            </label>
                                        </div>
                                        <div class="form-control">
                                            <label class="custom_radio mb-0">
                                                <input type="radio" formControlName="item_type" value="Service">
                                                <span class="checkmark"></span> Service
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Product Name -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Product Name <span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Product Name"
                                        formControlName="product_name">
                                </div>

                                <!-- Product Code (SKU) -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Product Code (SKU)<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Product Code"
                                        formControlName="product_code">
                                </div>

                                <!-- Category -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Category <span class="text-danger"> *</span></label>
                                    <select class="form-control" formControlName="category_id">
                                        <option *ngFor="let category of categoryList" [value]="category.category_id">
                                            {{ category.category_name }}
                                        </option>
                                    </select>
                                </div>


                                <!-- Selling Price -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Selling Price <span class="text-danger"> *</span></label>
                                    <input type="number" min="0" class="form-control" placeholder="Enter Selling Price"
                                        formControlName="selling_price">
                                </div>

                                <!-- Purchase Price -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Purchase Price <span class="text-danger"> *</span></label>
                                    <input type="number" min="0" class="form-control" placeholder="Enter Purchase Price"
                                    formControlName="purchase_price">
                                </div>

                                <!-- Quantity -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Quantity <span class="text-danger"> *</span></label>
                                    <input type="number" min="0" class="form-control" placeholder="Enter Quantity"
                                        formControlName="quantity">
                                </div>

                                <!-- Units -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Units</label>
                                    <select class="form-control" formControlName="units">
                                        <option>Pieces</option>
                                        <option>Box</option>
                                        <option>Kilograms</option>
                                    </select>
                                </div>


                                <!-- Alert Quantity -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Alert Quantity</label>
                                    <input type="number" min="0" class="form-control" placeholder="Enter Alert Quantity"
                                        formControlName="alert_quantity">
                                </div>
                            </div>
                        </div>

                        <div class="form-group-item">
                            <div class="row">
                                <!-- Description -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12 description-box">
                                    <label class="form-control-label">Product Descriptions</label>
                                    <textarea class="summernote form-control" formControlName="description"
                                        placeholder="Type your message"></textarea>
                                </div>

                                <!-- Product Image (File Upload) -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                    <label>Product Image</label>
                                    <input type="file" formControlName="product_image" multiple id="image_sign">
                                </div>
                            </div>
                        </div>

                        <div class="form-actions text-end">
                            <button type="button" class="btn btn-primary cancel me-2"
                                (click)="productForm.reset()">Cancel</button>
                            <button type="submit" class="btn customer-btn-cancel">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>