<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="content-page-header">
            <h5>Invoices</h5>
            <div class="list-btn">
                <ul class="filter-list">
                    <li>
                        <a class="btn btn-import p-2" title="Export to Excel" (click)="excelDownload('invoice')">
                            <i class="fas fa-print" style="margin-right: 8px;"></i> Export To Excel
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-import" href="javascript:void(0);" (click)="fileInput.click()"><span><i
                                    class="fas fa-check-square me-2"></i>Import Customer</span></a>
                        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)"
                            accept=".xlsx, .xls" />
                    </li>
                    <li>
                        <a class="btn btn-primary" routerLink="/admin/sales/invoices-add"><i
                                class="fa fa-plus-circle me-2" aria-hidden="true"></i>New Invoice</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Inovices card -->
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-info-light">
                            <img src="assets/img/icons/receipt-item.svg" alt="invoice">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Total Invoice</div>
                            <div class="dash-counts">
                                <p>₹{{InvoiceTotal?.total_all_statuses}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-info-light">
                            <img src="assets/img/icons/receipt-item.svg" alt="invoice">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Total Paid</div>
                            <div class="dash-counts">
                                <p>₹{{InvoiceTotal?.total_paid_amount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-primary-light">
                            <img src="assets/img/icons/transaction-minus.svg" alt="invoice">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Partially Paid</div>
                            <div class="dash-counts">
                                <p>₹{{InvoiceTotal?.total_partially_paid_amount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-warning-light">
                            <img src="assets/img/icons/archive-book.svg" alt="archivebook">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Total Overdue</div>
                            <div class="dash-counts">
                                <p>₹{{InvoiceTotal?.total_overdue_amount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-primary-light">
                            <img src="assets/img/icons/clipboard-close.svg" alt="clipboard">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Cancelled</div>
                            <div class="dash-counts">
                                <p>₹{{InvoiceTotal?.total_cancelled_amount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-green-light">
                            <img src="assets/img/icons/message-edit.svg" alt="message">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Draft</div>
                            <div class="dash-counts">
                                <p>₹{{InvoiceTotal?.total_draft_amount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-danger-light">
                            <img src="assets/img/icons/3d-rotate.svg" alt="invoice">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Unpaid</div>
                            <div class="dash-counts">
                                <p>₹{{InvoiceTotal?.total_unpaid_amount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-danger-light">
                            <img src="assets/img/icons/3d-rotate.svg" alt="invoice">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Refund</div>
                            <div class="dash-counts">
                                <p>₹{{InvoiceTotal?.total_refunded_amount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Inovices card -->

    <!-- Table -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="input-block mb-3">
                            <label>Search</label>
                            <input type="text" (keyup)="applyFilter($event)" placeholder="Search invoices"
                                class="form-control">
                        </div>

                        <table mat-table [dataSource]="dataSource" class="table table-center table-hover datatable">

                            <!-- Invoice ID -->
                            <ng-container matColumnDef="invoice_number">
                                <th mat-header-cell *matHeaderCellDef>Invoice ID</th>
                                <td mat-cell *matCellDef="let invoice">#{{ invoice.invoice_number }}</td>
                            </ng-container>

                            <!-- Category -->
                            <ng-container matColumnDef="category_name">
                                <th mat-header-cell *matHeaderCellDef>Category</th>
                                <td mat-cell *matCellDef="let invoice">{{ invoice.category_name || 'N/A' }}</td>
                            </ng-container>

                            <!-- Created On -->
                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef>Created On</th>
                                <td mat-cell *matCellDef="let invoice">{{ invoice.created_at | date:'d MMM y' }}</td>
                            </ng-container>

                            <!-- Customer Name -->
                            <ng-container matColumnDef="customer_name">
                                <th mat-header-cell *matHeaderCellDef>Invoice To</th>
                                <td mat-cell *matCellDef="let invoice">
                                    <div style="display: flex; align-items: center;">
                                        <img class="avatar-img rounded-circle"
                                            [src]="invoice?.customer_profile_photo || 'assets/img/profiles/avatar-14.jpg'"
                                            alt="User Image" style="width: 50px; height: 50px;">
                                        <div style="margin-left: 10px;">
                                            <span>{{ invoice?.customer_name }}</span><br>
                                            <span>{{ invoice?.customer_phone }}</span>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Total Amount -->
                            <ng-container matColumnDef="total_amount">
                                <th mat-header-cell *matHeaderCellDef>Total</th>
                                <td mat-cell *matCellDef="let invoice">₹{{ invoice.total_amount | number:'1.2-2' }}</td>
                            </ng-container>

                            <!-- Paid Amount -->
                            <ng-container matColumnDef="paid_amount">
                                <th mat-header-cell *matHeaderCellDef>Paid</th>
                                <td mat-cell *matCellDef="let invoice">₹{{ invoice.paid_amount | number:'1.2-2' }}</td>
                            </ng-container>

                            <!-- Balance Amount -->
                            <ng-container matColumnDef="balance_amount">
                                <th mat-header-cell *matHeaderCellDef>Balance</th>
                                <td mat-cell *matCellDef="let invoice">₹{{ invoice.balance_amount | number:'1.2-2' }}
                                </td>
                            </ng-container>

                            <!-- Balance Amount -->
                            <ng-container matColumnDef="payment_mode">
                                <th mat-header-cell *matHeaderCellDef>payment_mode</th>
                                <td mat-cell *matCellDef="let invoice">₹{{ invoice.payment_mode}}
                                </td>
                            </ng-container>

                            <!-- Due Date -->
                            <ng-container matColumnDef="due_date">
                                <th mat-header-cell *matHeaderCellDef>Due Date</th>
                                <td mat-cell *matCellDef="let invoice">{{ invoice.due_date | date:'d MMM y' }}</td>
                            </ng-container>

                            <!-- Status -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>Status</th>
                                <td mat-cell *matCellDef="let invoice"><span class="badge" [ngClass]="{
                                    'bg-success-light': invoice.status === 'paid',
                                    'bg-warning-light': invoice.status === 'pending' || invoice.status === 'partially_paid' || invoice.status === 'unpaid' || invoice.status === 'draft',
                                    'bg-danger-light': invoice.status === 'overdue',
                                    'bg-secondary-light': invoice.status === 'cancelled',
                                    'bg-info-light': invoice.status === 'refunded'
                                }">{{ invoice.status }}</span>
                                </td>
                            </ng-container>

                            <!-- Actions -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                <td mat-cell *matCellDef="let invoice" class="d-flex">
                                    <a class="btn-action-icon me-2" (click)="editInvoice(invoice)">
                                        <i class="far fa-edit me-2"></i>
                                    </a>
                                    <a class="btn-action-icon" (click)="openDeleteConfirmation(invoice.id)">
                                        <i class=" far fa-trash-alt me-2"></i>
                                    </a>
                                    <a class="btn-action-icon" (click)="getInvoiceDetailsForPDF(invoice.id)"><i
                                            class="fas fa-download me-2"></i></a>

                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [length]="invoiceList.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"
                            showFirstLastButtons></mat-paginator>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /Table -->

</div>

<!-- <a class="dropdown-item" href="invoice-details.html"><i class="far fa-eye me-2"></i>View</a>
<a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#view_modal"><i
        class="far fa-eye me-2"></i>View Delivery Challans</a>
<a class="dropdown-item" href="#"><i class="fas fa-send me-2"></i>Send</a>
<a class="dropdown-item" href="#"><i class="fas fa-download me-2"></i>Download</a>
<a class="dropdown-item" href="add-credit-notes.html"><i class="fas fa-file-text me-2"></i>Convert to Sales Return</a>
<a class="dropdown-item" href="#"><i class="fas fa-copy me-2"></i>Clone
    as Invoice</a> -->