<!-- Navbar with Offcanvas Sidebar -->
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <img src="../../../assets/img/logo.png" height="100px" width="120px" class="me-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div>
            <ul class="nav nav-tabs user-menu">
                <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="user-link  nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="../../../assets/img/profiles/avatar-07.jpg" alt="img" class="profilesidebar">
                            <span class="animate-circle"></span>
                        </span>
                        <span class="user-content">
                            <span class="user-details text-white">Admin</span><br>
                            <span class="text-white">PEC Trading</span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilemenu">
                            <div class="subscription-menu">
                                <ul>
                                    <li>
                                        <a class="dropdown-item" href="profile.html">Profile</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="subscription-logout">
                                <ul>
                                    <li class="pb-0">
                                        <a (click)="logout()">Log Out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel" style="width: 280px;">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-white m-0" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav">

                    <!-- Main Section -->
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="collapse" href="#mainSection" role="button"
                            aria-expanded="false" aria-controls="mainSection">
                            Main
                            <i class="fa fa-angle-down float-end"></i>
                        </a>
                        <div class="collapse" id="mainSection">
                            <a class="nav-link text-white ps-4" routerLink="/admin/dashboard">Dashboard</a>
                        </div>
                    </li>

                    <!-- Customers Section -->
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="collapse" href="#customersSection" role="button"
                            aria-expanded="false" aria-controls="customersSection">
                            Customers
                            <i class="fa fa-angle-down float-end"></i>
                        </a>
                        <div class="collapse" id="customersSection">
                            <a class="nav-link text-white ps-4"
                                routerLink="/admin/customers/customers-list">Customers</a>
                            <!-- <a class="nav-link text-white ps-4" routerLink="/admin/customers/customer-details">Customer
                                Details</a> -->
                            <a class="nav-link text-white ps-4" routerLink="/admin/customers/vendors-list">Vendors</a>
                        </div>
                    </li>

                    <!-- Products / Services Section -->
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="collapse" href="#productsServicesSection"
                            role="button" aria-expanded="false" aria-controls="productsServicesSection">
                            Products
                            <i class="fa fa-angle-down float-end"></i>
                        </a>
                        <div class="collapse" id="productsServicesSection">
                            <a class="nav-link text-white ps-4"
                                routerLink="/admin/productsServices/category-list">Category List</a>
                            <a class="nav-link text-white ps-4"
                                routerLink="/admin/productsServices/product-list">Product
                                List</a>
                            <!-- <a class="nav-link text-white ps-4" routerLink="/admin/productsServices/subProduct-list">Sub
                                Product
                                List</a> -->

                            <!-- <a class="nav-link text-white ps-4"
                                routerLink="/admin/productsServices/inventory-list">Inventory List</a> -->
                        </div>
                    </li>

                    <!-- Signature Section -->
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="collapse" href="#signatureSection" role="button"
                            aria-expanded="false" aria-controls="signatureSection">
                            Signature
                            <i class="fa fa-angle-down float-end"></i>
                        </a>
                        <div class="collapse" id="signatureSection">
                            <a class="nav-link text-white ps-4" routerLink="/admin/signature/signature-list">List of
                                Signature</a>
                            <!-- <a class="nav-link text-white ps-4"
                                routerLink="/admin/signature/signature-invoice">Signature
                                Invoice</a> -->
                        </div>
                    </li>

                    <!-- Sales Section -->
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="collapse" href="#salesSection" role="button"
                            aria-expanded="false" aria-controls="salesSection">
                            Sales
                            <i class="fa fa-angle-down float-end"></i>
                        </a>
                        <div class="collapse" id="salesSection">
                            <a class="nav-link text-white ps-4" routerLink="/admin/sales/invoices">Invoices List</a>
                            <!-- <a class="nav-link text-white ps-4" routerLink="/admin/sales/invoice-template">Invoice
                                Templates</a> -->
                            <!-- <a class="nav-link text-white ps-4" routerLink="/admin/sales/credit-notes">Credit Notes</a> -->
                        </div>
                    </li>

                    <!-- Purchases Section -->
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="collapse" href="#purchasesSection" role="button"
                            aria-expanded="false" aria-controls="purchasesSection">
                            Purchases
                            <i class="fa fa-angle-down float-end"></i>
                        </a>
                        <div class="collapse" id="purchasesSection">
                            <a class="nav-link text-white ps-4" routerLink="/admin/purchases/list">Purchases</a>
                            <a class="nav-link text-white ps-4" routerLink="/admin/purchases/debit-notes">
                                Stock Replace
                            </a>
                        </div>
                    </li>

                    <!-- Finance & Accounts Section -->
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="collapse" href="#financeAccountsSection"
                            role="button" aria-expanded="false" aria-controls="financeAccountsSection">
                            Finance & Accounts
                            <i class="fa fa-angle-down float-end"></i>
                        </a>
                        <div class="collapse" id="financeAccountsSection">
                            <!-- <a class="nav-link text-white ps-4"
                                routerLink="/admin/finance-account/expenses">Expenses</a> -->
                            <a class="nav-link text-white ps-4" routerLink="/admin/finance-account/payments">Sales
                                Payments</a>
                            <a class="nav-link text-white ps-4"
                                routerLink="/admin/finance-account/purchase-payments">Purchase
                                Payments</a>
                        </div>
                    </li>

                    <!-- Quotations Section -->
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="collapse" href="#quotationsSection" role="button"
                            aria-expanded="false" aria-controls="quotationsSection">
                            Quotations
                            <i class="fa fa-angle-down float-end"></i>
                        </a>
                        <div class="collapse" id="quotationsSection">
                            <a class="nav-link text-white ps-4" routerLink="/admin/quotations/list">Quotations</a>
                            <a class="nav-link text-white ps-4"
                                routerLink="/admin/quotations/delivery-challans">Delivery
                                Challans</a>
                        </div>
                    </li>

                    <!-- Reports Section -->
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="collapse" href="#reportsSection" role="button"
                            aria-expanded="false" aria-controls="reportsSection">
                            Reports
                            <i class="fa fa-angle-down float-end"></i>
                        </a>
                        <div class="collapse" id="reportsSection">
                            <!-- <a class="nav-link text-white ps-4" routerLink="/admin/reports/payment-summary">
                                Sales Payment Report</a> -->
                            <a class="nav-link text-white ps-4" routerLink="/admin/reports/customer-ledger-report">
                                Customer Ledger Report</a>
                            <!-- <a class="nav-link text-white ps-4" routerLink="/admin/reports/expense-report">Expense
                                Report</a> -->
                            <a class="nav-link text-white ps-4" routerLink="/admin/reports/purchase-report">Purchase
                                Payment
                                Report</a>
                            <a class="nav-link text-white ps-4" routerLink="/admin/reports/quotation-report">Quotation
                                Report</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>