<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="content-page-header">
            <h5>Return Debit Notes </h5>
            <div class="list-btn">
                <ul class="filter-list">
                    <li>
                        <a class="btn btn-import p-2" title="Export to Excel"
                            (click)="excelDownload('return-debit-note')">
                            <i class="fas fa-print" style="margin-right: 8px;"></i> Export To Excel
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-import" href="javascript:void(0);" (click)="fileInput.click()"><span><i
                                    class="fas fa-check-square me-2"></i>Import purchase</span></a>
                        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)"
                            accept=".xlsx, .xls" />
                    </li>
                    <li>
                        <a class="btn btn-primary" routerLink="/admin/purchases/purchase-add"><i
                                class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Purchases</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Table -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <!-- Search Input -->
                        <div class="input-block mb-3">
                            <label>Search</label>
                            <input type="text" (keyup)="applyFilter($event)" placeholder="Search purchases"
                                class="form-control">
                        </div>

                        <!-- Table -->
                        <table mat-table [dataSource]="dataSource" class="table table-center table-hover datatable">
                            <!-- Vendor ID -->
                            <ng-container matColumnDef="vendor_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</th>
                                <td mat-cell *matCellDef="let purchase">{{ purchase.vendor_id || 'Unknown Vendor' }}
                                </td>
                            </ng-container>

                            <!-- Vendor Name -->
                            <ng-container matColumnDef="vendor_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor Name</th>
                                <td mat-cell *matCellDef="let purchase">{{ purchase.vendor_name || 'Unknown Vendor' }}
                                </td>
                            </ng-container>

                            <!-- Amount -->
                            <ng-container matColumnDef="total_amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                                <td mat-cell *matCellDef="let purchase">₹{{ purchase.total_amount || '0.00' }}</td>
                            </ng-container>

                            <!-- Payment Mode -->
                            <ng-container matColumnDef="payment_mode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Mode</th>
                                <td mat-cell *matCellDef="let purchase">{{ purchase.payment_mode || 'N/A' }}</td>
                            </ng-container>

                            <!-- Status -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                <td mat-cell *matCellDef="let purchase">
                                    <span class="badge" [ngClass]="{
                                'bg-success-light': purchase.status === 'paid',
                                'bg-warning-light': purchase.status === 'pending' || purchase.status === 'partially_paid' || purchase.status === 'unpaid' || purchase.status === 'draft',
                                'bg-danger-light': purchase.status === 'overdue',
                                'bg-secondary-light': purchase.status === 'cancelled',
                                'bg-info-light': purchase.status === 'refunded'
                              }">
                                        {{ purchase.status }}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- Date -->
                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                <td mat-cell *matCellDef="let purchase">
                                    {{ purchase.created_at | date:'dd MMM yyyy, hh:mm a' }}</td>
                            </ng-container>

                            <!-- Actions -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Action</th>
                                <td mat-cell *matCellDef="let purchase" class="d-flex">
                                    <a class="btn-action-icon me-2" (click)="editPurchase(purchase)">
                                        <i class="far fa-edit me-2"></i>
                                    </a>
                                    <a class="btn-action-icon" (click)="openDeleteConfirmation(purchase.id)">
                                        <i class=" far fa-trash-alt me-2"></i>
                                    </a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <!-- Pagination -->
                        <mat-paginator [length]="PurchaseList.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"
                            showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Table -->
</div>
<!-- <li>
    <a class="dropdown-item" href="purchases-details.html"><i class="far fa-eye me-2"></i>View</a>
</li>
<li>
    <a class="dropdown-item" href="#"><i class="fas fa-download me-2"></i>Download</a>
</li>
<li>
    <a class="dropdown-item" href="#"><i class="fas fa-send me-2"></i>Send</a>
</li>
<li>
    <a class="dropdown-item" href="add-purchase-return.html"><i class="fas fa-file-text me-2"></i>Convert to Purchase
        Return</a>
</li> -->