<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="content container-fluid">
        <div class="card mb-0">
            <div class="card-body">
                <div class="page-header">
                    <div class="content-page-header">
                        <h5>{{ isAddMode ? 'Add' : 'Edit' }} Sub Products</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group-item">
                            <h5 class="form-title">Basic Details</h5>
                            <div class="row">
                                <!-- Product ID (Dropdown) -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Product <span class="text-danger"> *</span></label>
                                    <select class="form-control" formControlName="product_id">
                                        <option *ngFor="let product of productList" [value]="product.product_id">
                                            {{ product.product_name }}
                                        </option>
                                    </select>
                                </div>
                                <!-- Subproduct Name -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Subproduct Name <span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Subproduct Name"
                                        formControlName="subproduct_name">
                                </div>

                                <!-- Subproduct Code -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Subproduct Code <span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Subproduct Code"
                                        formControlName="subproduct_code">
                                </div>

                                <!-- Quantity -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Quantity <span class="text-danger"> *</span></label>
                                    <input type="number" min="0" class="form-control" placeholder="Enter Quantity"
                                        formControlName="quantity">
                                </div>

                                <!-- Selling Price -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Selling Price <span class="text-danger"> *</span></label>
                                    <input type="number" min="0" class="form-control" placeholder="Enter Selling Price"
                                        formControlName="selling_price">
                                </div>

                                <!-- Purchase Price -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Purchase Price <span class="text-danger"> *</span></label>
                                    <input type="number" min="0" class="form-control" placeholder="Enter Purchase Price"
                                        formControlName="purchase_price">
                                </div>

                                <!-- Units -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label>Units</label>
                                    <select class="form-control" formControlName="units">
                                        <option>Pieces</option>
                                        <option>Box</option>
                                        <option>Kilograms</option>
                                    </select>
                                </div>

                                <!-- Description -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label class="form-control-label">Subproduct Description</label>
                                    <textarea class="summernote form-control" formControlName="description"
                                        placeholder="Type your message"></textarea>
                                </div>

                            </div>
                        </div>

                        <div class="form-actions text-end">
                            <button type="button" class="btn btn-primary cancel me-2"
                                (click)="productForm.reset()">Cancel</button>
                            <button type="submit" class="btn customer-btn-cancel">Save Changes</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>