<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="content-page-header">
            <h5>Customers</h5>
            <div class="list-btn">
                <ul class="filter-list">
                    <li>
                        <a class="btn btn-import p-2" title="Export to Excel" (click)="excelDownload('customer')">
                            <i class="fas fa-print" style="margin-right: 8px;"></i> Export To Excel
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-import" (click)="fileInput.click()"><span><i
                                    class="fas fa-check-square me-2"></i>Import Customer</span></a>
                        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)"
                            accept=".xlsx, .xls" />
                    </li>
                    <li>
                        <a class="btn btn-primary" routerLink="/admin/customers/customers-add"><i
                                class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Customer</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-center table-hover datatable">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Balance</th>
                                    <th>Total Invoice</th>
                                    <th>Created</th>
                                    <th>Status</th>
                                    <th class="no-sort">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of customerList; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>
                                        <div class="main-container" style="display: flex; align-items: center;">
                                            <!-- Image Container -->
                                            <div class="avatar-container" style="margin-right: 15px;">
                                                <img class="avatar-img rounded-circle"
                                                    [src]="customer.profile_photo || 'assets/img/profiles/avatar-14.jpg'"
                                                    alt="User Image" (error)="onImageError($event)"
                                                    style="width: 50px; height: 50px;">

                                            </div>

                                            <!-- Name and Phone Container -->
                                            <div class="info-container" style="display: flex; flex-direction: column;">
                                                <span class="customer-name">{{ customer.name }}</span>
                                                <span class="customer-phone">{{ customer.email }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ customer.phone }}</td>
                                    <td>{{ customer.currency }}0.00</td>
                                    <td>0.00</td>
                                    <td>{{ customer.created_at | date: 'dd MMM yyyy, hh:mm a' }}</td>
                                    <td><span class="badge bg-success-light">Active</span></td>
                                    <td class="d-flex align-items-center mt-3">
                                        <!-- <a href="add-invoice.html" class="btn btn-greys me-2">
                                            <i class="fa fa-plus-circle me-1"></i> Invoice
                                        </a>
                                        <a href="customers-ledger.html" class="btn btn-greys me-2">
                                            <i class="fa-regular fa-eye me-1"></i> Ledger
                                        </a> -->

                                        <a class="btn-action-icon me-2" (click)="editCustomer(customer)">
                                            <i class="far fa-edit"></i>
                                        </a>

                                        <a class="btn-action-icon"
                                            (click)="openDeleteConfirmation(customer?.customer_id)">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<li>
    <a class="dropdown-item" href="customer-details.html"><i
            class="far fa-eye me-2"></i>View</a>
</li>
<li>
    <a class="dropdown-item" href="active-customers.html"><i
            class="fa-solid fa-power-off me-2"></i>Activate</a>
</li>
<li>
    <a class="dropdown-item" href="deactive-customers.html"><i
            class="far fa-bell-slash me-2"></i>Deactivate</a>
</li> -->