<div class="content container-fluid">
    <div class="page-header">
        <div class="content-page-header">

            <h5>Credit Notes</h5>
            <div class="list-btn">
                <ul class="filter-list">
                    <li>
                        <a class="btn btn-import p-2" title="Export to Excel"
                            (click)="excelDownload('invoice-credit-notes')">
                            <i class="fas fa-print" style="margin-right: 8px;"></i> Export To Excel
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-import" href="javascript:void(0);" (click)="fileInput.click()">
                            <span><i class="fas fa-check-square me-2"></i>Import Credit Notes</span>
                        </a>
                        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)"
                            accept=".xlsx, .xls" />
                    </li>
                    <li>
                        <a class="btn btn-primary" routerLink="/admin/sales/credit-notes-add">
                            <i class="fa fa-plus-circle me-2"></i>Add Credit Note
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Credit Notes Table -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <div class="input-block mb-3">
                                <label>Search</label>
                                <input type="text" (keyup)="applyFilter($event)" placeholder="Search credit notes"
                                    class="form-control">
                            </div>

                            <table mat-table [dataSource]="dataSource" class="table table-center table-hover datatable">

                                <!-- Credit Note ID -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Credit Note ID</th>
                                    <td mat-cell *matCellDef="let note">{{ note.id }}</td>
                                </ng-container>

                                <!-- Reference Number -->
                                <ng-container matColumnDef="reference_number">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference Number</th>
                                    <td mat-cell *matCellDef="let note">{{ note.reference_number }}</td>
                                </ng-container>

                                <!-- Quantity -->
                                <ng-container matColumnDef="quantity">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
                                    <td mat-cell *matCellDef="let note">{{ note.quantity }}</td>
                                </ng-container>

                                <!-- Rate -->
                                <ng-container matColumnDef="rate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
                                    <td mat-cell *matCellDef="let note">₹{{ note.rate | number:'1.2-2' }}</td>
                                </ng-container>

                                <!-- Total Amount -->
                                <ng-container matColumnDef="total_amount">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</th>
                                    <td mat-cell *matCellDef="let note">₹{{ note.total_amount | number:'1.2-2' }}</td>
                                </ng-container>

                                <!-- Created On -->
                                <ng-container matColumnDef="created_at">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
                                    <td mat-cell *matCellDef="let note">{{ note.created_at | date:'dd MMM yyyy, hh:mm a'
                                        }}</td>
                                </ng-container>

                                <!-- Actions -->
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef>Action</th>
                                    <td mat-cell *matCellDef="let note" class="d-flex">
                                        <a class="btn-action-icon me-2" (click)="editCreditNote(note)">
                                            <i class="far fa-edit me-2"></i>
                                        </a>

                                        <a class="btn-action-icon me-2" (click)="openDeleteConfirmation(note.id)">
                                            <i class="far fa-trash-alt me-2"></i>
                                        </a>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator [length]="creditNoteList.length" [pageSize]="5"
                                [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <a class="btn-action-icon me-2" (click)="viewCreditNoteDetails(note)">
    <i class="far fa-eye me-2"></i>
</a>
<a class="btn-action-icon me-2" (click)="sendCreditNoteEmail(note.id)">
    <i class="fas fa-send me-2"></i>
</a>
<a class="btn-action-icon me-2" (click)="downloadCreditNotePdf(note.id)">
    <i class="fas fa-download"></i>
</a> -->